#contenedor{
    height: 1200px;
}
#contenedor .contenido{
    
    position: relative;
    top:100px;
    width: 1200px;
    height: 900px;
    margin-left: 85px;
}
#contenedor .contenido .elegirPelicula{
    position: absolute;
    background-color:  #d0d3d4;
    margin-top: 35px;
    margin-left: 150px;
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
}
#contenedor .contenido .elegirPelicula form #tabla{
    margin-top: 60px;
    margin-left: 45px;
    background-color:  #ccd1d1;
}
#contenedor .contenido .elegirPelicula iframe{
    margin-top: 30px;
}
#contenedor .contenido .info{
    position: absolute;
    margin-left: 150px;
    width: 900px;
    top: 420px;
    height: 350px;
    background-color: #95a5a6;
}
#contenedor .contenido .info p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}
#contenedor .contenido .info p strong{
    text-decoration: underline;
    text-decoration-color: hsla(308, 62%, 53%, 0.68);
}
#contenedor .contenido .info h2{
    margin-left: 15px; 
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: hsl(308, 62%, 53%, 0.68);   
}
#contenedor .contenido .reloj{
    position: absolute;
    margin-top: 35px;
    margin-left: 520px;
    display: flex;
    justify-content: center;
}
#contenedor .contenido .reloj .bloque{
    margin:0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor .contenido .reloj .bloque div{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    box-shadow: 0px 0px 6px 2px #727272 inset;
    color: red;
    font-size: 30px;
    border-radius: 5px;
}
#contenedor .contenido .pregunta{
    position: absolute;
    margin-top: 145px;
    margin-left: 200px;
    width: 800px;
    height: 200px;
    background-color: aquamarine;
}
#contenedor .contenido .pregunta p{
    margin-left: 30px;
    margin-top: 80px;
    font-size: 20px;
}
#contenedor .contenido .respuesta{
    position: absolute;
    top: 400px;
    left: 390px;
    height: 100px;
    width: 400px;
    background-color: aquamarine;
}
#contenedor .contenido .respuesta p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 35px;
}
#contenedor .contenido .respuesta2{
    position: absolute;
    top: 550px;
    left: 390px;
    height: 100px;
    width: 400px;
    background-color: aquamarine;
}
#contenedor .contenido .respuesta2 p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 35px;
}
#contenedor .contenido .respuesta3{
    position: absolute;
    top: 700px;
    left: 390px;
    height: 100px;
    width: 400px;
    background-color: aquamarine;
}
#contenedor .contenido .respuesta3 p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 35px;
}