#cartelSolicitar{
    position: fixed;
    left: 350px;
    top: 150px;
    width: 60%;
    z-index: 5;
}
#cartelSolicitar #contenidoSolicitar{
    margin: 0px auto;
    margin-top: 100px;
    margin-left: 150px;
    position: relative;
    padding: 10px;
    width: 300px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
}
#cartelSolicitar #contenidoSolicitar label{
    font-size: 20px;
}
#cartelSolicitar #contenidoSolicitar input{
    border: 2px #17202a solid;
}
#cartelSolicitar #contenidoSolicitar #botonTabla{
    border: none;
    width: 90px;
    background-color:  #1f618d;
}
#cartelConfirmar{
    position: fixed;
    left: 350px;
    top: 150px;
    width: 60%;
    z-index: 4;
}
#cartelConfirmar #contenidoCartel{
    margin: 0px auto;
    margin-top: 100px;
    margin-left: 200px;
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
}
#cartelConfirmar #contenidoCartel p{
    margin-left: 30px;
    font-size: 15px;
}
#cartelConfirmar #contenidoCartel p input{
    margin-top: 20px;
    width: 50px;
    font-size: 15px;
    border: 2px solid black;
}
#cartelConfirmar #contenidoCartel p input#cancelar{
    margin-left: 130px;
}
#cartelConfirmar #contenidoCartel h2{
    margin-left: 30px;
}
#reglas{
    position: fixed;
    left: 200px;
    top: 70px;
    width: 1000px;
    height: 550px;
    z-index: 4;
    display: flex;
    backdrop-filter: blur(500px);
}
#reglas #contenidoReglas{
    margin: 0px auto;
    margin-top: 50px;
    margin-left: 220px;
    position: relative;
    padding: 30px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
}
#reglas #contenidoReglas p input{
    margin-left: 200px;
    margin-top: 40px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
}
#cartelPerdiste{
    position: fixed;
    left: 150px;
    top: 10px;
    width: 70%;
    z-index: 4;
    display: flex;
}
#cartelPerdiste #contenidoPerdiste{
    margin: 0px auto;
    margin-top: 50px;
    margin-left: 130px;
    position: relative;
    padding: 300px;
    width: 200px;
    background-color: red;
    border: 1px solid black;
}
#cartelPerdiste #contenidoPerdiste h2{
    margin-top: -20px;
    margin-left: -20px;
    width: 300px;
    font-size: 30px;
}
#cartelGanaste{
    position: fixed;
    left: 150px;
    top: 10px;
    width: 70%;
    z-index: 4;
    display: flex;
}
#cartelGanaste #contenidoGanaste{
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 130px;
    position: relative;
    padding: 300px;
    width: 300px;
    background-color: green;
    border: 1px solid black;
}
#cartelGanaste #contenidoGanaste a button{
    border: none;
    width: 100px;
}
#cartelGanaste #contenidoGanaste h2{
    font-size: 30px;
    margin-top: -10px;
}
#cartelDatos{
    position: fixed;
    left: 150px;
    top: 10px;
    width: 70%;
    z-index: 4;
    display: flex;
}
#cartelDatos #contenidoDatos{
    margin-top: 90px;
    margin-left: 300px;
    position: relative;
    padding: 100px;
    background-color: antiquewhite;
    border: 3px solid black;
}
#cartelDatos #contenidoDatos p{
    margin-bottom: 20px;
    font-size: 20px;
}
#cartelDatos #contenidoDatos p button{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border: 3px solid black;
}