body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#contenedor{
    background-color: darkgray;
    height: 2000px;
}
#contenedor .encabezado{
    background-color: #4955a9;
    width: 1366px;
    height: 60px;
    position: fixed;
    z-index: 5;
}
#contenedor .piePagina{
    position: relative;
    top: 250px;
    background-color: rgb(58, 0, 255);
    height: 260px;
}
#contenedor .contenido .peliculas .fila1{
    background-color: #49a98c;
    padding: 30px;
    position: relative;
    top: 100px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
} 
#contenedor .contenido .peliculas .fila2{
    background-color: #49a98c;
    padding: 30px;
    position: relative;
    top: 150px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    
}  
#contenedor .contenido .peliculas .fila3{
    background-color: #49a98c;
    padding: 30px;
    position: relative;
    top: 200px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
#contenedor .contenido .peliculas .fila4{
    background-color: #49a98c;
    margin-top: 60px;
    padding: 30px;
    position: relative;
    top: 200px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    
}     
/*cajas de la fila1*/
#contenedor .contenido .peliculas .fila1 div{
    margin: 12px;
    padding: 100px;
    width: 100px;
}
#contenedor .contenido .peliculas .fila1 div a{
    padding: 10px;
}
/*cajas de la fila2*/
#contenedor .contenido .peliculas .fila2 div{
    
    margin: 12px;
    padding: 100px;
    width: 100px;
}
#contenedor .contenido .peliculas .fila2 div a{
    padding: 10px;
}
/*cajas de la fila3*/
#contenedor .contenido .peliculas .fila3 div{
    margin: 12px;
    padding: 100px;
    width: 100px;
}
#contenedor .contenido .peliculas .fila3 div a{
    padding: 10px;
}
/*cajas de la fila4*/
#contenedor .contenido .peliculas .fila4 div{
    margin: 12px;
    padding: 100px;
    width: 100px;
}
#contenedor .contenido .peliculas .fila4 div a{
    padding: 10px;
}
/*Encabezado*/
#contenedor .encabezado .logoEncabezado{
  float: left;
  margin-left: 10px;
  margin-top: -5px;
  height: 5px;  
}
#contenedor .encabezado .logoEncabezado h1 a{
    text-decoration: none; 
}
#contenedor .encabezado .menu{
    float: right;
    width: 10px;
    margin-right: 160px;
    margin-top: -5px;
}
#contenedor .encabezado .menu ul li{
    list-style: none;
}
#contenedor .encabezado .menu ul li .menu2 .lista2{
    padding-top: 10px;
    background-color: blue;
    width: 95px;
    height: 160px;
    margin-top: -10px;
    margin-left: -20px;
    border:2px white solid;
    padding-left: 5px;
}
#contenedor .encabezado .menu ul li .menu2 .lista2 li a{
    text-decoration: none;
}

#contenedor .encabezado .menu ul li .menu2 .lista2 li a:hover{
    background-color: aqua;
}
#contenedor .encabezado .menu ul li .menu2 .lista2 li{
    margin-top: 6px;
    margin-left: 10px;
}
/*pie de pagina*/
#contenedor .piePagina .logo{
    padding: 40px;
    width: 40px;
    position: absolute;
    top: -30px;
    left: 15px;
}
#contenedor .piePagina .logo h1{
    width: 140px;
    height: 30px;
    display: flex;
    font-size: 40px;
    
}
#contenedor .piePagina .links a{
    color: azure;
    text-decoration: none;  
}
#contenedor .piePagina .links .link1{
    position: absolute;
    top: 120px;
    left: 30px;
}
#contenedor .piePagina .links .link2{
    position: absolute;
    top: 120px;
    left: 125px;
}
#contenedor .piePagina .links .link3{
    position: absolute;
    top: 120px;
    left: 160px;
}
#contenedor .piePagina .links .link4{
    position: absolute;
    top: 120px;
    left: 245px;
}
#contenedor .piePagina .links A:hover{
    color: rgb(153, 199, 37);
}
#contenedor .piePagina .copyright{
    color: azure;
    position: absolute;
    top: 145px;
    left: 30px;
}
#contenedor .piePagina .redes{
    
    padding: 40px;
    width: 160px;
    position: absolute;
    top: 20px;
    right: 120px;
    color: azure;
}
#contenedor .piePagina .redes div{
    display: flex;
    align-items: center;
    background-color: blue;
    width: 190px;
}
#contenedor .piePagina .redes div a{
    background-color: yellow;
    padding: 5px;
    width: 55px;
    margin: 2px;
}
