body{
    margin: 0px;
}
#contenedor{
    background-color: darkgray;
    height: 2000px;
}
#contenedor .encabezado{
    background-color: cornflowerblue;
    width: 1366px;
    height: 50px;
    position: fixed;
    z-index: 3;
}
#contenedor .piePagina{
    position: relative;
    top: 1205px;
    background-color: blue;
    height: 180px;
}
#contenedor .contenido .peliculas .fila1{
    background-color: aqua;
    padding: 30px;
    position: relative;
    top: 100px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
} 
#contenedor .contenido .peliculas .fila2{
    background-color: aqua;
    padding: 30px;
    position: relative;
    top: 150px;
    height: 300px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    
}     
/*cajas de la fila1*/
#contenedor .contenido .peliculas .fila1 div{
    background-color: black;
    margin: 12px;
    padding: 160px;
    width: 100px;
}
/*cajas de la fila2*/
#contenedor .contenido .peliculas .fila2 div{
    background-color: black;
    margin: 12px;
    padding: 160px;
    width: 100px;
}